<h1>Edit mailbox {{originalMailbox.Email}}</h1>


<form name="editMbox" novalidate class="form-inline">
	<div class="form-group">
		<label class="control-label" for="password">Password</label>
		<input name="password" ng-model="editMailbox.Password" required class="form-control">
	</div>
	<div class="form-group">
		<label class="control-label" for="name">Name</label>
		<input name="name" ng-model="editMailbox.Name" class="form-control">
	</div>
	<div class="form-group">
		<label class="control-label" for="name">Disabled?</label>
		<input name="disabled" type="checkbox" ng-model="editMailbox.Disabled">
	</div>
	<button name="save" ng-disabled="editMbox.$invalid" ng-click="updateMailbox()" class="btn btn-default">
		Save mailbox
	</button>
	<button name="reset" ng-click="resetEditedMailbox()" class="btn btn-default">
		Reset changes
	</button>
	<button name="drop" ng-click="dropMailbox()" class="btn btn-default">
		Delete mailbox
	</button>
</form>
<div class='alert alert-danger' ng-show='editMbox.password.$invalid'>Password required</div>

